body {
    background-color: black;
}

div, h1 {
    color: aliceblue;
}

.container {
    display: flex;
}

.whole {
    flex-direction: column;
}

.title {
    font-size: 80px;
    justify-content: center;
}

.button {
    align-self: center;
    display: flex;
    justify-content: space-evenly;
    padding: 50px;
    width: 500px;
}

.rock, .paper, .scissors {
    font-size: 25px;
}

.resultText {
    align-self: center;
    font-size: 40px;
}

.score{
    align-self: center;
    display: flex;
    flex-direction: column;
    width: 500px;
}

.scoreHeader {
    display: flex;
    justify-content: center;
    border: solid;
    font-size: 50px;
}

.points {
    border: solid;
    display: flex;
    justify-content: space-evenly;
}

.wins, .losses, .lossesNum, .winsNum {
    font-size: 25px;
}

.tryAgain {
    align-self: center;
    font-size: 25px;
    margin: 50px;
}



